<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Citizen Science Community &#8211; {{animal.animal_name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">
<!--


-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              {% if USER is not None %}
              <li><a href="#">Hello {{USER.full_name}}</a></li>
                <li><a href="{% url 'logout'%} ">Logout</a></li>
              {% else %}
              <li><a href="{% url 'to_login'%} ">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'main' %}" class="logo">
                          Citizen Science Community
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'main' %}">Home</a></li>
                          <li><a href="{% url 'mt' %}">Showcases</a></li>
                          {% if USER is not None %}
                          <li><a href="{%url 'upload'%}" class="active">Upload Now</a></li>
                          {% endif %}
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'mt' %}">Upcoming Animals</a></li>
                                  <li><a href="#">Animal Details</a></li>
                              </ul>
                          </li>
                          <li><a href="{% url 'main' %}">Map</a></li>
                          <li><a href="{% url 'main' %}">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our "Loot"</h6>
          <h2>Upcoming Yours</h2>
        </div>
      </div>
    </div>
  </section>

 <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="{% url 'mt' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="upload">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="aname" type="text" placeholder="NAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="cate" type="text" list="typelist" placeholder="CATEGORIES...*">
                    <datalist id="typelist">
                    　　<option>Reptiles</option>
                    　　<option>Flying Avian Animals</option>
                        <option>Mammals</option>
                        <option>Insects</option>
                        <option>Poultry</option>
                        <option>Fishes</option>
                        <option>Carnivores</option>
                        <option>Other</option>
                    </datalist>
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="location" type="text" placeholder="LOCATION...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="description" type="text" class="form-control" id="message" placeholder="SOME DESCRIPTION..." required="">This is a descriptive text that you can replace with any text, such as species description, location of discovery, time of discovery, etc.</textarea>
                    </fieldset>
                  </div>
                    <div class="col-lg-12">
                    <fieldset>
                      <input name="picture" type="file" id="" required="" accept="image/x-png,image/jpeg,image">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">UPLOAD MY "LOOTS"</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-010-0000</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>anu@pp2.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>ANU,ANU,ANU</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.anu.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 CSC
          <br>Design: <a href="https://github.com/DOROTHEA0/PP2" target="_parent" title="website templates">GROUP7</a></p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/js/isotope.min.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/tabs.js"></script>
    <script src="/static/assets/js/video.js"></script>
    <script src="/static/assets/js/slick-slider.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
